{% include "/header.html" %}
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
  {{ super() }}

<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* 100% of the viewport height */
}

.search_results {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
{% endblock %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>
</div>
<div class='container'>
<form method='POST' >
	{{ form.csrf_token }}
	{{ wtf.form_field(form.add) }}
	<input class='btn btn-dark' type='submit' value='Done'>
</form>


</div>

<div>
    <h2>Select a Movie:</h2>
    {% for movie in movies %}
        <p class="search_results">
        <a href={{url_for('second.addmovie',id=movie['id'])}}>{{movie['title']}} - {{movie['release_date']}}</a>
        </p>

    {% endfor %}

</div>



{% endblock %}