{% include "header.html" %}
</br>

<head>
    <style>
        .about-text {
            text-align:center;
        }
    </style>
            <div class="row gx-4 gx-lg-5 justify-content-center"> 
<div class="col-lg-4">
    <img src='https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg' style='width: 500px; height: 300px;position: relative;right:50px;'>  
            <img class="rounded-circle" src="static\pictrues\me.jpg" alt="Generic placeholder image" style='height: 140px; width: 140px; position: relative;bottom:80px;left: 130px;'>
            <div class="col-md-10 col-lg-8 col-xl-7"></div>
          </div></div>
{% include "footer.html" %}